{% extends "base_layout.html" %}
{% block title %}CLT{% endblock %}
{% block content %}
    <div>
        <h2 class="bd-title">Informações:</h2>
        <form method="post">
            <div class="form-group">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" name="inputNome" readonly aria-describedby="nomeHelp" value="{{ pf.nome }}">
            </div>
            <div class="form-group">
                <label for="inputCPF">CPF</label>
                <input type="text" class="form-control" name="inputCPF" readonly onkeypress="$(this).mask('000.000.000-00');" value="{{ pf.id }}">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="inputDependentes">Quantidade de Dependentes</label>
                <input type="number" step="1" class="form-control" readonly name="inputDependentes" min="0" value="{{ pf.qtd_dependentes }}">
            </div>
            <div class="form-group">
                <label for="inputSalario">Salário Mensal</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">R$</div>
                    </div>
                    <input type="number" step="0.01" class="form-control" name="inputSalario" min="0" placeholder="1000,00" required>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="hasBeneficio">
                <label class="form-check-label" for="hasBeneficio" value="False">Possui Benefícios</label>
            </div>
            <button type="submit" class="btn btn-primary">Simular</button>
        </form>
    </div>

    {% if clt %}
        <br>
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">     </th>
            <th scope="col">Valor</th>
            <th scope="col">Percentual</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">Salário Bruto</th>
            <td scope="col">{{ "R$%.2f"|format(clt.get_salario_bruto()) }}</td>
            <td scope="col">100%</td>
        </tr>
        {% if clt.beneficios.shape[0] %}
        <tr>
            <th scope="col">Benefícios</th>
            <td scope="col"></td>
            <td scope="col"></td>
        </tr>
        {% endif %}
        <tr>
            <th scope="col">INSS</th>
            <td scope="col">{{ "R$%.2f"|format(clt.get_valor_imposto('inss')) }}</td>
            <td scope="col">{{ '%.2f'|format((clt.get_aliquota_imposto('inss')*100)|float) }}%</td>
        </tr>
        <tr>
            <th scope="col">IR</th>
            <td scope="col">{{ "R$%.2f"|format(clt.get_valor_imposto('ir')) }}</td>
            <td scope="col">{{ '%.2f'|format((clt.get_aliquota_imposto('ir')*100)|float) }}%</td>
        </tr>
        <tr>
            <th scope="col">Salário Líquido</th>
            <td scope="col">{{ "R$%.2f"|format(clt.get_salario_liquido()) }}</td>
            <td scope="col">{{ '%.2f'|format((clt.get_valor_imposto('total')/clt.get_salario_bruto()*100)|float) }}%</td>
        </tr>
    {% endif %}
{% endblock %}