{% extends "base_layout.html" %}
{% block title %}CLT{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="bd-title">Informações:</h2>
            <form method="post">
                <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" name="inputNome" readonly aria-describedby="nomeHelp" value="{{ pessoa.nome }}">
                </div>
                <div class="form-group">
                    <label for="inputCPF">CPF</label>
                    <input type="text" class="form-control" name="inputCPF" readonly onkeypress="$(this).mask('000.000.000-00');" value="{{ pessoa.id }}">
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="inputDependentes">Quantidade de Dependentes</label>
                    <input type="number" step="1" class="form-control" readonly name="inputDependentes" min="0" value="{{ pessoa.qtd_dependentes }}">
                </div>
                <div class="form-group">
                    <label for="inputSalario">Salário Mensal</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input type="number" step="0.01" class="form-control" name="inputSalario" min="0" placeholder="1000,00" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Simular</button>
            </form>
        </div>

        <div class="col">
            <h2 class="bd-title">Benefícios:</h2>
            <form method="put">
                <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" name="inputBeneficioNome" aria-describedby="nomeHelp" placeholder="Ex.: Vale-refeição">
                </div>
                <div class="form-group">
                    <label for="inputBeneficioValor">Valor do Benefício</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input type="number" step="0.01" class="form-control" name="inputBeneficioValor" min="0" placeholder="500,00">
                    </div>
                    <label for="inputBeneficioDesconto">Valor a descontar</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input type="number" step="0.01" class="form-control" name="inputBeneficioDesconto" min="0" value="0">
                    </div>
                    <label class="form-check-label" for="inputBeneficioFrequencia">Frequência</label>
                    <select class="form-control" name="inputBeneficioFrequencia">
                        <option selected>Mensal</option>
                        <option>Anual</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Adicionar Benefício</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block table1 %}
    {% if contrato %}
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Mensal</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">Salário Bruto</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_salario_bruto()) }}</td>
            <td scope="col">100%</td>
        </tr>
        <tr>
            <th scope="col">Impostos</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_valor_imposto('total')) }}</td>
            <td scope="col">{{ '%.2f'|format((contrato.get_valor_imposto('total')/contrato.get_salario_bruto()*100)|float) }}%</td>
        </tr>
        <tr>
            <th scope="col">Descontos Beneficios</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_total_desconto_beneficios()) }}</td>
            <td scope="col">{{ '%.2f'|format((contrato.get_total_desconto_beneficios()/contrato.get_salario_bruto()*100)|float) }}%</td>
        </tr>
        <tr>
            <th scope="col">Salário Líquido</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_salario_liquido()) }}</td>
            <td scope="col">{{ '%.2f'|format((contrato.get_valor_imposto('total')/contrato.get_salario_bruto()*100)|float) }}%</td>
        </tr>
        <tr>
            <th scope="col">Salário Líquido +  Valor Beneficios</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_salario_liquido() + contrato.get_valor_beneficios()) }}</td>
            <td scope="col">{{ '%.2f'|format(((contrato.get_salario_liquido() + contrato.get_valor_beneficios())/contrato.get_salario_bruto()*100)|float) }}%</td>
        </tr>
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">IMPOSTOS MENSAIS</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for nome_imposto in contrato.get_nome_impostos() %}
            {% if nome_imposto != 'total' %}
                <tr>
                    <th scope="col">{{  nome_imposto }}</th>
                    <td scope="col">{{ "R$%.2f"|format(contrato.get_valor_imposto(nome_imposto)) }}</td>
                    <td scope="col">{{ '%.2f'|format((contrato.get_aliquota_imposto(nome_imposto)*100)|float) }}%</td>
                </tr>
            {% endif %}
        {% endfor %}
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">ANUAL</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tr>
            <th scope="col">Salário Bruto</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_salario_bruto(anual=True)) }}</td>
            <td scope="col">100%</td>
        </tr>
        <tr>
            <th scope="col">Impostos</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_valor_imposto('total', anual=True)) }}</td>
            <td scope="col">{{ '%.2f'|format((contrato.get_valor_imposto('total', anual=True)/contrato.get_salario_bruto(anual=True)*100)|float) }}%</td>
        </tr>
        <tr>
            <th scope="col">Descontos Beneficios</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_total_desconto_beneficios(anual=True)) }}</td>
            <td scope="col">{{ '%.2f'|format((contrato.get_total_desconto_beneficios(anual=True)/contrato.get_salario_bruto(anual=True)*100)|float) }}%</td>
        </tr>
        <tr>
            <th scope="col">Salário Líquido</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_salario_liquido(anual=True)) }}</td>
            <td scope="col">{{ '%.2f'|format((contrato.get_salario_liquido(anual=True)/contrato.get_salario_bruto(anual=True)*100)|float) }}%</td>
        </tr>
        <tr>
            <th scope="col">Salário Líquido +  Valor Beneficios</th>
            <td scope="col">{{ "R$%.2f"|format(contrato.get_salario_liquido(anual=True) + contrato.get_valor_beneficios(anual=True)) }}</td>
            <td scope="col">{{ '%.2f'|format(((contrato.get_salario_liquido(anual=True) + contrato.get_valor_beneficios(anual=True))/contrato.get_salario_bruto(anual=True)*100)|float) }}%</td>
        </tr>
    {% endif %}

{% endblock %}

{% block table2 %}
    {% if beneficios|length %}
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Descontar</th>
            <th scope="col">Frequência</th>
        </tr>
        </thead>
        <tbody>
        {% for beneficio in beneficios %}
            <tr>
                <th scope="col">{{ beneficio.get_nome() }}</th>
                <th scope="col">{{ "R$%.2f"|format(beneficio.get_valor()) }}</th>
                <th scope="col">{{ "R$%.2f"|format(beneficio.get_descontar()) }}</th>
                <td scope="col">{{ beneficio.get_frequencia() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
{% endblock %}