{% extends "base_layout.html" %}
{% block title %}Salary Simulation{% endblock %}
{% block content %}
    <div>
        <h1 class="bd-title">Sobre</h1>
        <p>
            Esse trabalho foi desenvolvido como trabalho final da disciplina de Programação Orientada a Objeto - POO
            do curso de Bacharelado em Ciência da Computação do IESB.
        </p>
        <p>
            Esse trabalho consiste em uma API para criação de Currículos e seu funcionamento é explicado abaixo.
        </p>
    </div>
{% endblock %}
