{% extends "base_layout.html" %}
{% block title %}Salary Simulation{% endblock %}
{% block content %}
    <div>
        <h1 class="bd-title">Sobre<a name="_about"></a></h1>
        <p>
            Esse trabalho foi desenvolvido como trabalho final da disciplina de Programação Orientada a Objeto - POO
            do curso de Bacharelado em Ciência da Computação do IESB.
        </p>
        <p>
            Esse trabalho consiste em uma API para criação de Currículos e seu funcionamento é explicado abaixo.
        </p>
    </div>
    <div>
        <h1 class="bd-title"><a name="_quick_start">Quick start</a></h1>
        <p>
            Cadastre suas experiências e textos conforme a tabela de rotas abaixo:
        </p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Rota</th>
                <th scope="col">Método</th>
                <th scope="col">Sobre</th>
                <th scope="col">Corpo</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">/TESTE</th>
                <td scope="col">GET</td>
                <td scope="col">loren ipson dolor</td>
                <td scope="col">
                                <pre>
                                    <code>
    {
        corpo: corpo,
        body: body
    }
                                    </code>
                                </pre>
                </td>
            </tr>
            <tr>
                <th scope="col">/TESTE</th>
                <td scope="col">GET</td>
                <td scope="col">loren ipson dolor</td>
                <td scope="col">
                                <pre>
                                   <code>
    {
        corpo: corpo,
        body: body
    }
                                    </code>
                                </pre>
                </td>
            </tr>
            <tr>
                <th scope="col">/TESTE</th>
                <td scope="col">GET</td>
                <td scope="col">loren ipson dolor</td>
                <td scope="col">
                                <pre>
                                    <code>
    {
        corpo: corpo,
        body: body
    }
                                    </code>
                                </pre>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
