button {
    margin-top: 10px;
}

.shorter-8 {
    max-width: 75%;
}

.reduced-padding {
    padding-right: 0;
    padding-left: 0;
}

.footer {
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
}

.p {
    text-align: justify;
    text-justify: inter-word;
}

